#form-page {
    margin: 77px 140px 0 140px;

    background-image:url("../IMG/page-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: content-box;
}

.form-page-wrapper {
    display: flex;
    padding-bottom: 257px;
    
}

.form-page-text {
    margin: 108px 44px 0px 72px;

    width: calc(100% / 2 );
}

.form-page-text__logo {
    color: #5E4CB3;
    font-size: 36px;
    font-weight: 800;
    line-height: 166.4%; /* 59.904px */
    display: inline-block;
    
    margin-bottom: 88px;
}

.form-page-text__dsc {
    color: #5E4CB3;
    font-size: 18px;
    font-weight: 400;

    padding-left: 26px;
}

.form-page-text__span {
    color: #5E4CB3;
    font-size: 18px;
    font-weight: 600;
}

.wrapper-form {
    width: calc(100% / 2);

    margin-top: 138px;
    margin-right: 98px;
}

.wrapper-form__conteiner {
    padding: 56px 63px 46px 63px;
    background: #9D61FF;
    border-radius: 20px;

    text-align: center;
}

.wrapper-form__tel {
    color: #FFF;
    font-size: 24px;
    font-weight: 700;

    display: inline-block;
    text-align: center;
}

.wrapper-form__dsc {
    color: #FFF;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
}

.form {
    margin-top: 45px;
    border: none;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.form__input {
    display: block;
    background-color: #9D61FF;
    width: 100%;

    border: none;
    border-bottom: 2px solid;
    border-bottom-color: rgba(255, 255, 255, 0.40);
    outline: none;
}

.form__input::placeholder {
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
}

.wrapper-button-form {
    display: flex;
    flex-direction: column;
    gap: 25px 0;

    text-align: left;
}

.button-form {
    color: #9D61FF ;
    font-size: 14px;
    font-weight: 700;

    padding: 22px 103px;

    border-radius: 5px;
    background: #FFF;
    border: none;
}

.wrapper-button-form__label {
    color: #5E4CB3;
    font-size: 13px;
    font-weight: 400;
}

.wrapper-button-form__span {
    color: #FFF;
}







