* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 35px 140px 0 33px;
   background-color: #fff;

}
.header_logo {
    background: linear-gradient(90deg, #5E4CB3 2.17%, #9D61FF 18.36%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-size: 48px;
    font-weight: 800;
}

.header_nav ul {
    display: inline-flex;
    gap: 0 27px;
}

.header_nav ul li {
    list-style: none;
}

.header_nav-link {
    color: #5E4CB3;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
}

.header_contacts {
    display: flex;
    gap: 0 14px;
}

.header_phone-wrapper {
    display: flex;
    flex-direction: column
}

.header_phone-number { 
    color: #5E4CB3;
    font-size: 24px;
    font-weight: 800;

    text-decoration: none;
}

.work_time {
    color: #5E4CB3;
    font-size: 12px;
    font-weight: 700;
    align-self: flex-end;
}

.header_request-call-btn {
    border-radius: 5px;
    background: #9D61FF;
    border: none;
    color: #fff;

    padding: 20px 30px;
}

.header_contacts-item {
    display: flex;
    align-items: center;
    gap: 0 15px;
}

.header_social-link {
    margin-bottom: 7px;
}

#beginning {
    background: url(../IMG/Group\ 31.png);
    background-position: right;
    background-repeat: no-repeat;
    background-position-y: bottom;
    padding-bottom: 50px;
    padding-right: 20px;
}

.wrapper_Beginning {
    display: flex;
    padding: 90px 20px 0px 140px;
    position: relative;
}

/* .wrapper_Beginning::after{
    content: url("../IMG/Group\ 31.png");
    position: absolute;
    z-index: -1;
    right: 20px;
    top: -100px;
} */

.beginning-headline {
    color: #5E4CB3;
    font-size: 36px;
    font-weight: 700;

    margin-bottom: 33px;
}

.beginning-headline span {
    color: #9D61FF;
    font-size: 36px;
    font-weight: 700;
}

.beginning-information {
    color: #5E4CB3;
    font-size: 16px;
    font-weight: 400;
}

.beginning-information span {
    color: #9D61FF;
    font-size: 16px;
    font-weight: 700;
}

.beginning-discription_form {
    margin-top: 116px;
}

.beginning_wrapper_footer-taitle {
    margin-top: 20px;
}

.beginning_footer-taitle {
    color: #9D61FF;
    font-size: 12px;
    font-weight: 300;
}

.beginning_footer-taitle span {
    color: #5E4CB3;
    font-size: 12px;
    font-weight: 300;
}

/* .beginning-img {
    margin-top: -250px;
    margin-left: -279px;
    z-index: -1;

    width: 1150px;
    height: 897p 
} */
.down-arrow1 {
    text-align: center;
    margin-top: 95px;
}

#information_block {
    padding-top: 100px;
    padding-left: 120px;
    padding-right: 140px;
}

.information_block__headline {
    color: #5E4CB3;
    font-size: 36px;
    font-weight: 800;
}

.span {
    color: #9D61FF;
    font-size: 36px;
    font-weight: 800;
}

.information_block-wrapper {
    display: flex;
    padding-top: 90px;
    gap: 54px 20px;
    flex-wrap: wrap;
    padding-bottom: 60px;
}

.information_wrapper-block {
    width: calc( 100% / 3 - 20px );
    padding-left: 16px;
    padding-bottom: 29px;
    
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.15);
}

.information_block-nomber {
    color: #B798BF;
    text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    font-size: 64px;
    font-weight: 700;
}

.information_block-headline {
    color: #446FB3;
    font-size: 14px;
    font-weight: 700;
}

.information_block-paragraf {
    color: #5E4CB3;
    font-size: 12px;
    font-weight: 400;

    margin-right: 61px;
} 

.information_block-Line-6{
    width: 50%;
    height: 2px;
    margin-top: 10px;
    margin-bottom: 8px;

    background: #446FB3;
}

.information-wrapper_form {
    text-align: center;
}

.button  {
    padding: 25px 84px;

    color: #FFF;
    font-size: 12px;
    font-weight: 800;

    border-radius: 5px;
    background: #9D61FF;
    border: none;
}

.list-of-proposals {
    padding: 150px 86px 99px 140px;
}

.list-of-proposals__headline {
    color: #5E4CB3;
    font-size: 36px;
    font-weight: 800;

    padding-bottom: 59px;
}

.shopping-list {
    display: grid; 
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 0 75px;
}

.dsc-product {
    display: inline-grid;
    grid-template-columns: 20px 1fr ;
    grid-template-rows: 1fr;
    margin-bottom: 39px
}

.dsc-product__headline {
    display: inline;
    margin-bottom: 18px;
    
    grid-row: 2;
    grid-column: 1/3;
    align-items: flex-end;

    color: #9D61FF;
    font-size: 18px;
    font-weight: 700;
}

.dsc-product__ul {
    display: inline-block;
    grid-row: 3;
    grid-column: 2;
    position: relative;
}

.dsc-product__list {
    margin-bottom: 8px;

    color: #5E4CB3;
    font-size: 14px;
    font-weight: 400;
}

.dsc-product__list::before {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50px;
    background: #5E4CB3;
    
    position: absolute;
    left: -19px;
    margin-top: 4px;   
}

.shopping-list__img {
    width: 100%;
}

.list-of-proposals__button {
    text-align: center;
}

.shopping-list__img--margin-right {
    margin-left: 0;
    margin-right: 107px ;
    width: 100%;
}

.shopping-list__img--margin-left {
    margin-left: -26px;
    width: 100%;
}

.shopping-list--padding-bottom {
    padding-bottom: 99px;
}

.list-of-proposals__wrapper-shopping-list--gap {
    gap: 79px;
}

.dsc-product__ul {
    list-style: none;
}

#Accreditation {
    margin: 0 140px;
    padding: 26px 0;

    border-radius: 10px;
    background: #F0D577;

    position: relative;
}

#Accreditation::before {
    content: url("../IMG/gold-bitrix.png");
    position: absolute;
    left: 34px;
    bottom: 9px;
}

.block_certifocate {
    display: flex;
    justify-content: end;
    align-items: center;

    margin: 0 20px;
    gap: 19px 0;

    border-radius: 10px;
    border: 1px solid #FFF;

    padding-top: 27px;
    padding-bottom: 19px;
}

.name-certifocate {
    width: 231px;
    margin-right: 95px;

    width: 231px;
    display: flex;
    flex-direction: column;
}

.name-certifocate__symbol {
    color: #9F9F9F;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
}

.name-certifocate__taitle {
    color: var(--1, #2A2367);
    text-align: center;
    font-size: 12px;
    font-weight: 700;

    margin: 6px 10px 14px 10px;
}


